.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 70px;
    z-index: 200;
    padding-top: 20px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.sidebar-link:hover {
    background-color: rgb(248, 241, 241);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 5px;

}

.sidebar-link div {
    font-family: Arial;
    font-size: 10px;

}